@import url("http://fonts.cdnfonts.com/css/daydream");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.bg-container-content {
    padding-left: 0;
    max-width: 100%;
    height: max-content;
}

.black-gradient {
    background-image: linear-gradient(rgba(0, 0, 0, 0), black 20%);
}

.black {
    background: black;
}

.white {
    background: white;
}

.container {
    padding-right: var(--bs-gutter-x, 2rem);
    padding-left: var(--bs-gutter-x, 2rem);
    padding-bottom: 80px;
    margin-top: 80px;
    overflow: hidden;
}

@media (max-width: 991px) {
    #about .text {
        margin-top: 0px;
    }
    .container {
        margin-top: 0px;
    }
}

@media (max-width: 767px) {
    .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

section {
    background: black;
    font-family: 'DM Sans';
}

ul ul li {
    list-style-type: disc;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 100px;
    transition: all 0.5s;
    z-index: 997;
    background-color: black;
}

#header.header-scrolled {
    height: 80px;
}

#header #logo {
    width: 150px;
    height: auto;
    align-self: center;
    cursor: pointer;
}

#header div {
    display: flex;
    justify-content: space-between;
}

#header .container {
    margin-top: 80px;
}

@media (max-width: 991px) {
    #header .container {
        padding-top: 0px;
    }
}

@media (max-width: 767px) {
    #header .container {
        padding-bottom: 80px;
    }
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/* Desktop Navigation */

.navbar ul {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar li {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    align-self: center;
}

.navbar a {
    color: white;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar a:focus,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #F4C95B;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/* Mobile Navigation */
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: rgb(255, 255, 255);
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(60, 56, 56, 0.9);
    transition: 0.3s;
    text-align: center !important;
}

.navbar-mobile div {
    background: black;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    margin-top: 35px;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    top: 10%;
    right: 15px;
    left: 15px;
    padding: 25px 0px 10px;
    background-color: black;
    overflow-y: auto;
    transition: 0.3s;
    font-size: 15px;
    color: #1e4356;
    margin: auto;
    width: 90%;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-mobile li {
    height: 70px;
}

.navbar-mobile a button {
    margin-top: 15px;
    margin-left: 0px;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
}

.navbar button {
    margin-left: 15px;
    background: #F4C95B;
    border-radius: 35px;
    color: black;
    font-size: 14px;
    padding: 12px 16px;
    transition: 0.3s;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 24px;
}

.navbar button span {
    border-radius: 50%;
    background: white;
    display: inline-block;
    height: 24px;
    width: 24px;
    font-weight: 700;
}

.navbar button:hover {
    background: #FFE896;
    transition: 0.3s;
}


/*--------------------------------------------------------------
  # Form
  --------------------------------------------------------------*/
body {
	background: black;
}

#customForm {
	width: 100%;
	margin-top: 100px;
}

#customForm h1 {
	padding-bottom: 50px;
	font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    line-height: 52px;
	text-decoration: underline;
    text-decoration-color: #F4C95B;
    text-decoration-thickness: 9px;
}

@media (max-width: 767px) {
	#customForm h1 {
		font-size: 35px;
		text-decoration-thickness: 6px;
	}
}

#customForm label {
	color: white;
	font-family: 'DM Sans';
	font-size: 15px;
	padding-bottom: 5px;
}

#customForm input[type=text], #customForm input[type=number], #customForm input[type=email], #customForm select, #customForm textarea {
	width: 100%;
	background: black;
	border: 1px solid #898989;
	border-radius: 5px;
	padding: 12px 20px;
	margin-bottom: 30px;
	font-size: 13px;
	color: white;
	font-family: 'DM Sans';
}

#customForm select {
	-webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background-image: url('/assets/img/down-arrow.svg');
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: calc(100% - 16px);
}

#customForm ::placeholder {
	color: #898989;
	font-style: italic;
}

#customForm textarea {
	resize: none;
	height: 200px;
}

#customForm #scholarshipSection {
	padding-bottom: 15px;
}

#customForm #scholarshipSection .option {
	font-size: 13px;
}

#customForm .data label {
	display: inline;
}

#customForm .data p {
	margin-bottom: 0;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}

#customForm .data div label {
    text-transform: none;
    padding-left: 5px;
}

#customForm .but {
	width: 100%;
	text-align: center;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 80px;
}

#customForm .but button {
    background: #F4C95B;
    border-radius: 35px;
    color: black;
    font-size: 14px;
    padding: 10px 30px;
    transition: 0.3s;
    font-weight: bold;
    align-items: center;
}

#customForm .but button:hover {
    background: #FFE896;
    transition: 0.3s;
}

#customForm .but .cancel {
    background: black;
    border: 1px solid white;
    color: white;
}

#customForm .but .cancel:hover {
    background: rgb(42, 42, 42);
}

#successMessage {
	padding-top: 200px;
	padding-bottom: 100px;
}

#successMessage div {
	text-align: center;
	padding: 30px 60px;
	border: 1px solid #F4C95B;
	width: fit-content;
	margin: 0 auto;
}

#successMessage div .h1 {
	color: white;
	font-family: 'DM Sans';
}

#successMessage div p {
	font-family: 'DM Sans';
	color: white;
	margin-bottom: 0;
}

#successMessage .back{
    margin-top: 20px;
}

#successMessage  a {
    color: white;
    text-decoration: none;
}

#successMessage a:hover {
    text-decoration: underline;
}

#refunds {
    padding-bottom: 0;
}

#refunds h1 {
    color: white;
    font-family: 'DM Sans';
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

#refunds h2 {
    padding-top: 20px;
    color: white;
    font-family: 'DM Sans';
    font-size: 20px;
    text-transform: uppercase;
    color: #F4C95B;
}

#refunds p {
    color: white;
    font-family: 'DM Sans';
    font-size: 15px;
    line-height: 1.4;
}

#refunds a {
    color: white;
}

/*--------------------------------------------------------------
# footer Section
--------------------------------------------------------------*/

#footer h1 {
    font-family: 'DM Sans';
    color: #FFFFFF;
    font-weight: bold;
    font-size: 28px;
}

#footer p, #footer a {
    font-family: 'DM Sans';
    color: #FFFFFF;
    font-weight: 200;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 0;
    line-height: 1.4;
}

#footer a:hover {
    text-decoration: underline;
}

#footer .col-lg-4 {
    padding-bottom: 15px;
}

#footer img {
    padding-bottom: 10px;
}

#footer .col1 .row {
    padding-top: 20px;
    padding-bottom: 30px;
}

#footer .col1 p {
    font-family: 'DM Sans';
    color: #FFFFFF;
    font-weight: 200;
    padding-bottom: 0;
}

#footer .col2 {
    line-height: 1;
    text-align: right;
    padding-bottom: 0px;
    display: inline-block;
    align-self: flex-end;
}

#footer .col2 p {
    padding-top: 3px;
}

#footer .copyright {
    font-size: 13px;
    font-weight: bold;
    color: #646464;
}

#footer .copyright span {
    color: #F4C95B;
    text-transform: uppercase;
}

#footer #footerYear {
    color: #646464;
}

@media (max-width: 991px) {
    .footer-container {
        padding-top: 80px;
    }
    #footer .col2 {
        line-height: 1;
        text-align: left;
        padding-top: 30px;
        display: inline-block;
        align-self: flex-end;
    }
    #footer .col1 .row {
        padding-bottom: 10px;
    }
}