@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.bg-container-content {
    padding-left: 0;
    max-width: 100%;
    height: max-content;
}

.black-gradient {
    background-image: linear-gradient(rgba(0, 0, 0, 0), black 20%);
}

.black {
    background: black;
}

.white {
    background: white;
}

.container {
    padding-right: var(--bs-gutter-x, 2rem);
    padding-left: var(--bs-gutter-x, 2rem);
    padding-bottom: 80px;
    margin-top: 80px;
    overflow: hidden;
}

@media (max-width: 991px) {
    #about .text {
        margin-top: 0px;
    }
    .container {
        margin-top: 0px;
    }
}

@media (max-width: 767px) {
    .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

section {
    background: black;
    font-family: 'DM Sans';
}

ul ul li {
    list-style-type: disc;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 100px;
    transition: all 0.5s;
    z-index: 997;
    background-color: black;
}

#header.header-scrolled {
    height: 80px;
}

#header #logo {
    width: 150px;
    height: auto;
    align-self: center;
}

#header div {
    display: flex;
    justify-content: space-between;
}

#header .container {
    margin-top: 80px;
}

@media (max-width: 991px) {
    #header .container {
        padding-top: 0px;
    }
}

@media (max-width: 767px) {
    #header .container {
        padding-bottom: 80px;
    }
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/* Desktop Navigation */

.navbar ul {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar li {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    align-self: center;
}

.navbar a {
    color: white;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar a:focus,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #F4C95B;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/* Mobile Navigation */
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: rgb(255, 255, 255);
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(60, 56, 56, 0.9);
    transition: 0.3s;
    text-align: center !important;
}

.navbar-mobile div {
    background: black;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    margin-top: 35px;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    top: 10%;
    right: 15px;
    left: 15px;
    padding: 25px 0px 10px;
    background-color: black;
    overflow-y: auto;
    transition: 0.3s;
    font-size: 15px;
    color: #1e4356;
    margin: auto;
    width: 90%;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-mobile li {
    height: 70px;
}

.navbar-mobile a button {
    margin-top: 15px;
    margin-left: 0px;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
}

.navbar button {
    margin-left: 15px;
    background: #F4C95B;
    border-radius: 35px;
    color: black;
    font-size: 14px;
    padding: 12px 16px;
    transition: 0.3s;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 24px;
}

.navbar button span {
    border-radius: 50%;
    background: white;
    display: inline-block;
    height: 24px;
    width: 24px;
    font-weight: 700;
}

.navbar button:hover {
    background: #FFE896;
    transition: 0.3s;
}

/*--------------------------------------------------------------
  # About
--------------------------------------------------------------*/
#about .text {
    margin-top: 250px;
}

#about h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    line-height: 52px;
}

#about h1 span {
    text-decoration: underline;
    text-decoration-color: #F4C95B;
    /* Change the underline color */
    text-decoration-thickness: 9px;
    /* Set the underline height */
}

#about p {
    font-size: 20px;
    color: white;
    padding: 0px 20px;
    margin: 35px 0 35px -20px;
    border: 1px solid #F4C95B;
    max-width: max-content;
}

#about a {
    text-decoration: none;
}

#about button {
    background: #F4C95B;
    border-radius: 35px;
    color: black;
    font-size: 14px;
    padding: 12px 16px;
    transition: 0.3s;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 24px;
}

#about button span {
    border-radius: 50%;
    background: white;
    display: inline-block;
    height: 24px;
    width: 24px;
    font-weight: 700;
}

#about button:hover {
    background: #FFE896;
    transition: 0.3s;
}

@media (max-width: 991px) {
    #about .text {
        margin-top: 100px;
        padding-bottom: 50px;
    }
    #about .bg-container-content {
        background: rgba(0, 0, 0, 0.4);
    }
}

@media (max-width: 767px) {
    #about h1 {
        font-size: 35px;
    }
    #about h1 span {
        text-decoration-thickness: 6px;
    }
    #about p {
        font-size: 18px;
    }
}


/*--------------------------------------------------------------
  # target Audience
--------------------------------------------------------------*/

#audience .audience-container {
    height: inherit;
    padding-bottom: 0px;
}

#audience .audience-container h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #F4C95B;
    font-family: 'DM Sans';
    padding-bottom: 35px;
}

#audience .audience-container .items {
    font-family: 'DM Sans';
    display: flex;
    gap: 50px;
    max-width: 51vw;
}

#audience .audience-container .items div p {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}

#audience .audience-container .item1 {
    width: 17vw;
}

#audience .audience-container .item2 {
    width: 17vw;
    /* margin-top: 50px; */
}

#audience .audience-container .item3 {
    width: 17vw;
    /* margin-top: 100px; */
}

#audience .audience-container h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    border: 1px solid #F4C95B;
    justify-content: center;
    margin-bottom: 20px;
}

#audience .audience-container p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

@media (max-width: 991px) {
    #audience .audience-container {
        padding-top: 0px;
    }

    #audience .audience-container .items {
        max-width: 60vw;
    }
}

@media (max-width: 767px) {
    #audience .audience-container {
        padding-bottom: 80px;
    }

    #audience .audience-container .items {
        max-width: 100%;
        flex-direction: column;
    }

    #audience .audience-container .item1,
    #audience .audience-container .item2,
    #audience .audience-container .item3 {
        width: 80%;
    }
}

/*--------------------------------------------------------------
  # Info
--------------------------------------------------------------*/

.info .items {
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.info .items div {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.info h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: white;
    padding-bottom: 20px;
}

.info .items .item1 h2 {
    color: #F4C95B;
}

.info .items .item2 h2 {
    color: #FFE896;
}

.indo .items ul {
    margin-bottom: 0;
}

.info .items li {
    margin-bottom: 0px;
}

@media (max-width: 991px) {
    .info-container {
        padding-top: 20px;
    }

    .info .items {
        width: 50vw;
    }
}

@media (max-width: 767px) {
    .info .items {
        width: 99%;
    }
}

/*--------------------------------------------------------------
  # Days
--------------------------------------------------------------*/

#days h1 {
    font-family: 'DM Sans';
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    line-height: 52px;
    text-decoration: underline;
    text-decoration-color: #F4C95B;
    /* Change the underline color */
    text-decoration-thickness: 9px;
    /* Set the underline height */
}

#days .daysClick {
    display: flex;
    gap: 30px;
    margin-bottom: 37px;
    font-family: 'DM Sans';
}

#days a {
    color: #FFF;
    font-size: 18px;
    font-family: 'DM Sans';
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 16px;
    cursor: pointer;
    border-bottom: 1px solid black;
    transition: 0.3s;
}

#days a:hover,
#days a.active {
    border-bottom: 1px solid #FDC80A;
    transition: 0.3s;
}

#days .daysText {
    color: white;
    font-size: 15px;
    font-family: 'DM Sans';
}

#days .daysText ul li {
    font-family: 'DM Sans';
    margin-bottom: 0;
}

#days .daysText div {
    display: none;
}

#days .daysText .show {
    display: block;
    transition: 0.3s;
}

#days ul ul {
    padding-bottom: 20px;
}

@media (max-width: 991px) {
    .days-container {
        padding-top: 80px;
    }

    #days .daysClick {
        margin-top: 60px;
    }
}

@media (max-width: 767px) {
    #days h1 {
        font-size: 35px;
        text-decoration-thickness: 6px;
    }
    #days a {
        padding: 5px 0px;
    }
}

/*--------------------------------------------------------------
  # More
--------------------------------------------------------------*/

#more h1 {
    font-family: 'DM Sans';
    text-align: center;
    font-size: 40px;
    transform: rotate(180deg) translateY(100%);
    transform-origin: bottom center;
    color: white;
    font-weight: bold;
    writing-mode: vertical-lr;
    text-decoration: underline;
    text-decoration-color: #F4C95B;
    /* Change the underline color */
    text-decoration-thickness: 9px;
    /* Set the underline height */
}

#more .col-lg {
    padding-left: 73px;
    color: white;
    font-size: 15px;
}

#more ul li {
    margin-bottom: 0;
    font-family: 'DM Sans';
}

#more p {
    line-height: 1.4;
}

#more .title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

#more .yellow {
    color: #F4C95B;
}

@media (max-width: 991px) {
    #more .row {
        margin-top: 0px;
    }

    #more h1 {
        transform: none;
        writing-mode: unset;
        text-align: left;
    }

    #more .col-lg {
        padding-top: 60px;
        padding-left: 16px;
    }

    #more ul {
        padding-left: 16px;
    }
}

@media (max-width: 767px) {
    #more h1 {
        font-size: 35px;
        text-decoration-thickness: 6px;
    }
}

/*--------------------------------------------------------------
  # Join
--------------------------------------------------------------*/
#join .bg-container-content {
    overflow: hidden;
}

#join .container {
    overflow: initial;
}

#join h1 {
    font-family: 'DM Sans';
    color: white;
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 27px;
}

#join p {
    font-family: 'DM Sans';
    color: white;
}

#join .small {
    font-size: 12px;
    line-height: 1.4;
    padding-bottom: 50px;
}

#join h2 {
    font-family: 'DM Sans';
    font-weight: bold;
    font-size: 20px;
    color: white;
}

#join .item1 h2 {
    color: #F4C95B;
}

#join .item2 h2 {
    color: #FFE896;
}

#join .row p {
    font-size: 15px;
    padding-bottom: 50px;
}

#join ul {
    padding-left: 20px;
    list-style-type: "✔  ";
}

#join ul li {
    color: white;
    font-family: 'DM Sans';
    font-size: 15px;
    margin-bottom: 0;
}

#join .circle {
    border: 1px solid #F4C95B;
    height: 70vh;
    width: 70vh;
    border-radius: 100%;
    position: absolute;
    top: 50px;
    right: -18vw;
}

@media (max-width: 991px) {
    .join-container {
        padding-top: 80px;
    }

    #join .circle {
        display: none;
    }
}

@media (max-width: 767px) {
    #join .small {
        padding-bottom: 30px;
    }
    #join .row p {
        padding-bottom: 20px;
    }
}


/*--------------------------------------------------------------
  # Team
--------------------------------------------------------------*/

#team h1 {
    font-family: 'DM Sans';
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    line-height: 52px;
    text-decoration: underline;
    text-decoration-color: #F4C95B;
    /* Change the underline color */
    text-decoration-thickness: 9px;
    /* Set the underline height */
}

#team .col-lg {
    padding-right: 90px;
}

#team img {
    height: 155px;
    width: auto;
    margin-bottom: 30px;
    margin-top: 70px;
}

#team .name {
    font-family: 'DM Sans';
    font-size: 20px;
    color: #F4C95B;
    font-weight: bold;
    text-transform: uppercase;
}

#team .text {
    color: white;
    font-size: 15px;
    font-family: 'DM Sans';
    line-height: 1.5;
}

#team a {
    color: white;
    font-size: 15px;
    font-family: 'DM Sans';
    font-weight: bold;
}


@media (max-width: 991px) {
    .team-container {
        padding-top: 80px;
    }
}

@media (max-width: 767px) {
    #team .col-lg {
        padding-right: 10px;
    }
    #team h1 {
        font-size: 35px;
        text-decoration-thickness: 6px;
    }
}

/*--------------------------------------------------------------
# footer Section
--------------------------------------------------------------*/

#footer h1 {
    font-family: 'DM Sans';
    color: #FFFFFF;
    font-weight: bold;
    font-size: 28px;
}

#footer p, #footer a {
    font-family: 'DM Sans';
    color: #FFFFFF;
    font-weight: 200;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 0;
    line-height: 1.4;
}

#footer a:hover {
    text-decoration: underline;
}

#footer .col-lg-4 {
    padding-bottom: 15px;
}

#footer img {
    padding-bottom: 10px;
}

#footer .col1 .row {
    padding-top: 20px;
    padding-bottom: 30px;
}

#footer .col1 p {
    font-family: 'DM Sans';
    color: #FFFFFF;
    font-weight: 200;
    padding-bottom: 0;
}

#footer .col2 {
    line-height: 1;
    text-align: right;
    padding-bottom: 0px;
    display: inline-block;
    align-self: flex-end;
}

#footer .col2 p {
    padding-top: 3px;
}

#footer .copyright {
    font-size: 13px;
    font-weight: bold;
    color: #646464;
}

#footer .copyright span {
    color: #F4C95B;
    text-transform: uppercase;
}

#footer #footerYear {
    color: #646464;
}

@media (max-width: 991px) {
    .footer-container {
        padding-top: 80px;
    }
    #footer .col2 {
        line-height: 1;
        text-align: left;
        padding-top: 30px;
        display: inline-block;
        align-self: flex-end;
    }
    #footer .col1 .row {
        padding-bottom: 10px;
    }
}